@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-principal);
}

:root {
  --cor-principal: #051D3B;
  --cor-secundario: #2D415B;
  --cor-terciaria: rgba(255, 255, 255, 0.2);
  --cor-texto-principal: #FFFFFF;
  --cor-texto-secundario: #051D3B;
  --cor-texto-select: rgba(255, 255, 255, 0.3);
  --cor-input: rgba(255, 255, 255, 0.16);
  --cor-editor: #141414;
  --cor-botao-principal: rgba(80, 129, 251, 0.08);
  --cor-botao-secundario: #5081FB;
  --cor-backgound-card: rgba(0, 0, 0, 0.16);

  --font-principal: 'Inter', sans-serif;
  --font-editor: 'Roboto', sans-serif;
}

.container {
  width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 3%;
  border-radius: 40px;
  background-color: var(--cor-principal);
}

#cabecalho {
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}

.logo {
  margin: auto 0;
  width: 145px;
  height: 34px;
}

.input {
  border: none;
  border-radius: 8px;
  background-color: var(--cor-input);
  font-size: 16px;
  padding: 0 14px;
}

.input option {
  color: var(--cor-editor);
}

.buscar {
  width: 52%;
  height: 56px;
}

.busca_mobile_input input {
  width: 84%;
  height: 56px;
  background-color: var(--cor-secundario);
}

.buscar_mobile {
  display: none;
  cursor: pointer;
}

.busca_mobile_input {
  width: 100%;
  position: absolute;
  left: 0;
  top: 80px;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
}

.usuario_logado {
  width: 145px;
}

.usuario_logado,
.usuario_logado_mobile,
.usuario_logado_card {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.usuario_logado_mobile {
  border-top: 1px solid var(--cor-terciaria);
  padding-top: 24px;
  justify-content: flex-start;
}

.menu_amburger {
  cursor: pointer;
  display: none;
}

.icones_cabecalho {
  font-size: 30px;
}

.usuario_logado_img {
  width: 32px;
  height: 32px;
}

section {
  padding: 40px 3% 0 3%;
}

.navegacao_desktop {
  width: 272px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.navegacao_mobile {
  display: none;
  flex-direction: column;
  gap: 24px;
  position: absolute;
  top: 95px;
  right: 3%;
  height: 80vh;
  background-color: var(--cor-secundario);
  padding: 20px;
  border-radius: 8px;
}

.navegacao_mobile_links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.navegacao_link {
  display: flex;
  gap: 16px;
  align-items: center;
}

.container_main {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.conteudo_principal {
  width: 52%;
  height: auto;
}


.editor_fundo {
  border-radius: 8px;
  min-height: 366px;
  background-color: #6BD1FF;
  padding: 32px;
  margin-bottom: 32px;
}

.editor_fundo_card {
  width: 100%;
  height: 288px;
  border-radius: 8px;
  background-color: #6BD1FF;
  padding: 24px;
}

.editor_container {
  border-radius: 8px;
  background-color: var(--cor-editor);
  width: 100%;
  min-height: 366px;
  padding: 16px;
}

.editor_container_card {
  border-radius: 8px;
  background-color: var(--cor-editor);
  width: 100%;
  min-height: 100%;
  padding: 12px;
}

.editor_cabecalho {
  padding-bottom: 16px;
}

.editor_codigo {
  display: block;
  width: 100%;
  outline: none;
  white-space: pre-wrap;
}

.btn {
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.6;

}

.btn:active {
  opacity: 0.4;

}

.btn_principal {
  background-color: var(--cor-botao-principal);
}

.btn_secundario {
  background-color: var(--cor-botao-secundario);
}

.configuracao_projeto {
  width: 272px;
}

.form_configuracao_projeto {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.configuracao_projeto_flex {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input_configuracao {
  height: 56px;
}

.input_configuracao_descricao {
  resize: none;
  padding-top: 14px;
  height: 80px;
}

.configuracao_botoes_projeto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.input_color {
  width: 100%;
  border-radius: 8px;
  background-color: transparent;
  padding: 4px;
  border: 1px solid #6BD1FF;
}

.conteudo_principal_comunidade {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.card {
  width: calc(50% - 13px);
  height: 467px;
  background-color: var(--cor-backgound-card);
  border-radius: 8px;
}

.texto_principal {
  color: var(--cor-texto-principal);
  font-size: 16px;
  font-weight: 400;
}

.texto_secundario {
  color: var(--cor-texto-secundario);
  font-size: 16px;
  font-weight: 400;
}

.texto_select {
  color: var(--cor-texto-select);
  font-size: 16px;
  font-weight: 400;
}

.link {
  text-decoration: none;
}

.navegacao_titulo {
  text-transform: uppercase;
  color: var(--cor-texto-principal);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.4em;
}

.info_projeto {
  padding: 24px;
}

.info_projeto h2 {
  font-family: var(--font-principal);
  font-weight: 700;
  font-size: 21px;
  color: var(--cor-texto-principal);
  line-height: 32px;
}

.social_card {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.social_card_botoes {
  display: flex;
  justify-content: space-between;
}

.social_card_botoes div {
  width: 58px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.social_card_botoes div i {
  font-size: 24px;
}

@media screen and (max-width: 1440px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 1320px) {
  .navegacao_desktop {
    width: 210px;
  }

  .configuracao_projeto {
    width: 210px;
  }
}

@media screen and (max-width: 768px) {
  .navegacao_desktop {
    display: none;
  }

  .usuario_logado {
    display: none;
  }

  .menu_amburger {
    display: block;
    width: 48px;
    text-align: center;
    margin: auto 0;
  }

  .container_main {
    flex-direction: column;
  }

  .conteudo_principal {
    width: 100%;
  }

  .configuracao_projeto {
    width: 100%;
  }

  .configuracao_botoes_projeto {
    flex-direction: row;
  }

  .input_configuracao {
    width: 100%;
  }

  .form_configuracao_projeto {
    margin-bottom: 40px;
  }

  .conteudo_principal_comunidade{
    width: 100%;
  }

  .card {
    width: 100%;
  }

  .flex {
    display: flex;
  }

}

@media screen and (max-width: 450px) {
  .configuracao_botoes_projeto {
    flex-direction: column;
  }

  .buscar {
    display: none;
  }

  .buscar_mobile {
    display: block;
    width: 80px;
    text-align: right;
    margin: auto 0;
  }

  .flex_mobile {
    display: flex;
  }
}

.block {
  display: block;
}

.none {
  display: none;
}