* {
  margin: 0;
  padding: 0;
}

:root {
  --cor-primaria: #051D3B;
  --cor-input: rgba(255, 255, 255, 0.16);
}

.container {
  width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  border-radius: 40px;
  background-color: var(--cor-primaria);
}

#cabecalho {
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding: 3% 3% 0 3%;
}

.logo{
  margin: auto 0;
  width: 145px;
  height: 34px;
}

.input {
  border: none;
  border-radius: 8px;
  background-color: var(--cor-input);
}

.buscar {
  width: 50%;
  padding: 0 14px;
}

.usuario_logado{
  width: 145px;
  display: flex;
  justify-content: flex-end;
}

.usuario_logado_img {
  height: 100%;
}